/*Layout*/
.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-around {
    justify-content: space-around;
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-column>.right-self {
    align-self: flex-end;
}

.w-100 {
    width: 100%
}

.h-medium {
    height: 200px;
}

/*Typography*/
.title-exp {
    margin: 0;
}

/*Helpers*/
.mb-0 {
    margin-bottom: 0;
}

.pb-20 {
    padding-bottom: 20px;
}

/*Input*/
.photo-img {
    margin-right: 5%;
}

/*Print*/
.side-container {
    background-color: khaki;
}

.section-layout {
    min-height: 200px;
    border-bottom: none;
}