/*Layout*/
.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-around {
    justify-content: space-around;
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-column>.right-self {
    align-self: flex-end;
}

.w-100 {
    width: 100%
}

.h-medium {
    height: 200px;
}

/*Typography*/
.title-exp {
    margin: 0;
}

/*Helpers*/
.mb-0 {
    margin-bottom: 0;
}

.mt-0 {
    margin-top: 0;
}

.pb-20 {
    padding-bottom: 20px;
}

/*Input*/
.photo-img {
    margin-right: 5%;
}

/*Print*/
.print-backgroundColor {
    background-color: rgba(240, 230, 140, 0.6);
}

.edit-backgroundColor {
    background-color: #FFF;
}

.main-container {
    padding-right: 1rem;
    color: rgb(37, 35, 35);
}

.side-container {
    background-color: khaki;
    padding-top: 1rem;
    padding-left: 1rem;
    color: rgb(37, 35, 35);
    font-weight: 600;
}

.lastExp {
    padding-bottom: 2rem;
}

.side-lastExp {
    margin-bottom: -1rem;
}

.section-layout {
    min-height: 200px;
}

.button-container {
    background-color: #FFF;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -1rem;
}

.lastExp {
    margin-bottom: -1rem;
}