.d-flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-end {
    align-items: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-column>.right-self {
    align-self: flex-end;
}

/*Input*/
.photo-img {
    margin-right: 5%;
}